.Contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  background-color: black;
  gap: 1rem;
  height: 350px;
}

.Contact h5 {
  font-size: 28px;
  text-align: center;
  color: white;
}

.connect p {
  display: flex;
  justify-content: center;
  color: white;
}

.contact-logo {
  border-radius: 2rem;
  width: 100%;
  max-width: 200px;
  height: auto;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright-icon{
  display: flex;
  margin-bottom: 1.5rem;
  height: auto;
  width: auto;
}
.footer-icon {
  display: inline;
  justify-content: center;
  width: 19px;
  height: 17px;
  color: white;
}
.location,
.connect {
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  width: 350px;
}

.location h5 {
  font-size: 22px;
  color: white;
}

.location p {
  font-size: 10px;
  color: white;
}

.connect h6 {
  margin-top: 12.5rem;
  font-size: 15px;
  color: white;
}
.contact-icon {
  background-color: white;
}

.footer-icon a {
  margin: 0 10px;
  font-size: 24px;
  transition: color 0.3s;
}
.footer-icon a:hover {
  color: #e0b973;
  transform: scale(1.1);
}

.phone {
  background-color: white;
  width: 22.88px;
  height: 23.25px;
}

.map iframe {
  max-width: 100%;
  width: 350px;
  height: 300px;
  border: none;
  margin-top: 30px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .Contact h5 {
    font-size: 24px;
  }

  .Contact p {
    font-size: 16px;
  }

  .location,
  .connect {
    padding: 15px;
  }}