.Footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    background-color: black;
    gap: 1rem;
    padding: 2rem 0; 
}

.Footer h5 {
    font-size: 28px;
    text-align: center;
    color: #e0b973;
}

.Footer p {
    color: white;
    font-size: 1rem;
}

.footer-logo {
    width: 150px; 
    border-radius: 50%; 
    margin-bottom: 1rem;
}

.Details {
    text-align: center;
   
    padding: 20px;
    border-radius: 20px;
    width: 350px;
}

.Details-heading {
    font-size: 18px;
    color: white;
    margin-bottom: 10px;
}

.footer-icon {
    display: inline-block;
    margin: 0 10px;
    color: white;
    transition: transform 0.3s ease, color 0.3s ease;
}

.footer-icon:hover {
    color: #e0b973; 
    transform: scale(1.1); 
}

.LOcation {
    text-align: center;
    color: white;
}

.LOcation h5 {
    font-size: 22px;
    color: white;
}

.LOcation p {
    font-size: 16px;
    color: white;
}

.map iframe {
    max-width: 100%;
    width: 350px;
    height: 300px;
    border: none;
    margin-top: 30px;
    border-radius: 10px;
}

.CoPyright {
    display: flex;
    justify-content: center;
   
    gap: 0.3rem;
    margin-top: 0.5rem;
    color: black;
    font-size: 16px;
}

.COP-icon {
    font-size: 18px;
}

.review-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    max-width: 350px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
  }
  
  .review-content h4 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: white;
  }
  
  .review-content input {
    width: 100%;
    padding: 0.625rem;
    margin-bottom: 0.938rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 1rem;
  }
  
  .review-content input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .review-content .INput-2 {
    height: 2.5rem;
    resize: none;
  }
  

  .Send-button {
    width: 100%;
    padding: 0.625rem;
    background-color: #007bff;
    border: none;
    border-radius:0.25rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .Send-button:hover {
    background-color: #e0b973;
  }
  
  .Send-button:active {
    background-color: #e0b973;
  }
  
  
@media (max-width: 768px) {
    .Footer {
        flex-direction: column;
        text-align: center;
    }

    .Footer h5 {
        font-size: 24px;
    }

    .Footer p {
        font-size: 16px;
    }

    .Details, .LOcation {
        padding: 15px;
        width: 100%;
    }

    .footer-logo {
        width: 100px; 
    }

    .map iframe {
        width: 100%; 
        height: 250px;
    }
}
