.gallery-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  padding: 2rem;
  background-color: #f8f8f8;
}

.gallery-container h2 {
  font-size: 2rem; 
  margin-bottom: 1.5rem;
  animation: fadeIn 1s ease-in;
}

.gallery-container p {
  margin-bottom: 2rem;
  font-size: 1rem;
  line-height: 1.6;
  width: 60rem;
  color: #555;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr)); 
  gap: 1rem;
  width: 100%;
  margin-left: 13%; 
}

.gallery-item {
  overflow: hidden;
  border-radius: 0.5rem; 
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-item img {
  width: 100%;
  height: 15rem; 
  object-fit: cover; 
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 48rem) { 
  .gallery-container {
    padding: 1rem;
  }

  .gallery-container h2 {
    font-size: 1.5rem; 
  }

  .gallery-container p {
    font-size: 0.875rem;
  }

  .gallery-grid {
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr)); 
  }
}

@media (min-width: 48rem) and (max-width: 75rem) {
  .gallery-grid {
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr)); 
  }
}
