.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  width: 90%;
  max-width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo-container {
 
}

.home_logo {
  border-radius: 2rem;
  max-width: 10%;
  width: auto; 
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  transition: color 0.3s, background-color 0.3s;
}

.nav-links li a:hover {
  color: #e0b973;
}


.home {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
}

.home_h2 {
  color: #000;
  font-size: 2rem;
  margin-top: 50px;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeIn 1s ease-in-out forwards;
}

.home_text p {
  color: #666;
  margin: 0 auto;
  max-width: 600px;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.book-now {
  background-color: #e0b973;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.book-now:hover {
  background-color: #000;
}


.about-section {
  padding: 40px 0;
  text-align: center;
}

.aboutus-header {
  color: #e0b973;
  font-size: 2rem;
  margin-bottom: 20px;
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
}

.about-img {
  width: 300px;
  height: 200px;
  border-radius: 8px;
  object-fit: cover;
}

.aboutus-text {
  max-width: 600px;
  color: #333;
  font-size: 1rem;
  text-align: left;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    gap: 10px;
  }

  .about-content {
    flex-direction: column;
  }

  .home_h2 {
    font-size: 1.5rem;
  }
}