.reserve-container {
  display: flex;
  align-items: flex-start; 
  justify-content: center;
  margin: 0 auto;
  padding: 1.25rem;
  border-radius: 0.5rem;
  background-color: #f9f9f9; 
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  gap: 2rem; 
}

.reserve-room-img {
  width: 30rem;
  height: 20rem; 
  border-radius: 0.5rem;
  object-fit: cover;
}

.reserve-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  margin-top: 2rem;
}

.room-p {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
  color: white;
  background-color: black;
  font-size: 1.2rem;
  margin: 1rem auto; 
  padding: 1rem; 
  border-radius: 0.5rem; 
}

.room-name {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem; 
}

.date-picker-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem; 
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  width: 100%; 
  max-width: 30rem;
}

.date-picker-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; 
}

.reserve-actions {
  display: flex;
  justify-content: center;
  margin-top: 1rem; 
}

.checkout-btn,
.cancel-btn1 {
  padding: 0.75rem 1rem; 
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem; 
  cursor: pointer;
  width: 48%;
}

.checkout-btn {
  background-color: #e0b973;
  color: white;
  transition: background-color 0.3s;
}

.checkout-btn:hover {
  background-color: #d1a060; 
}

.cancel-btn1 {
  background-color: #f44336;
  color: white;
  transition: background-color 0.3s;
}

.cancel-btn1:hover {
  background-color: #d32f2f; 
}

.modal-content {
  background-color: white;
  padding: 1.5rem; 
  border-radius: 0.625rem;
  width: 90%;
  max-width: 40rem;
  text-align: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

@media (max-width: 37.5rem) {
  .reserve-container {
    flex-direction: column;
    padding: 1rem;
  }

  .reserve-room-img {
    width: 100%;
    height: auto;
  }

  .reserve-info {
    margin-top: 1rem;
    text-align: center;
  }

  .date-picker-card {
    width: 100%;
  }

  .checkout-btn,
  .cancel-btn1 {
    width: 100%;
  }
}

@media (min-width: 37.5rem) and (max-width: 48rem) {
  .reserve-container {
    padding: 1.5rem;
  }

  .reserve-room-img {
    width: 40%;
  }

  .date-picker-card {
    width: 80%; 
  }

  .room-name {
    font-size: 1.4rem; 
  }

  .checkout-btn,
  .cancel-btn1 {
    width: 48%; /* Maintain button width */
  }
}
