body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align:center;
}

.rooom-name{
  font-weight: bold;
  font-size: x-large;
  margin: 0 auto;
  text-align: center;
}

.rooms {
  padding: 1.25rem; 
  max-width: 1400px;
  text-align: center;
  margin: 0 auto; 
}

.room-title {
  font-size: 1.5rem; 
  margin-bottom: 1.25rem; 
}

.room-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 2rem;
  padding: 0;
}


.room-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 2rem;
  padding: 0;
}

.room-card {
  border: 1px solid #ddd;
  border-radius: 0.5rem; 
  padding: 0.625rem;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s;
  cursor: pointer;
  flex-grow: 1; 
}

.room-card:hover {
  transform: scale(1.05);
}

.img-div {
  position: relative;  
}

.favorite-icon,
.share-icon {
  cursor: pointer;
  margin-left: 0.625rem;
  color: #d32f2f

}

.favorite-icon-wrapper,
.share-icon-wrapper {
  position: absolute;  
  top: 10px;  
  right: 10px; 
  cursor: pointer;
}

.favorite-icon-wrapper {
  margin-right: 30px; 
}

.room-img {
  width: 100%;
  border-radius: 0.5rem; 
  object-fit: cover;   
  height: 11.5rem; 
}

.room-info {
  flex-grow: 1; 
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room-name {
  font-size: 1.25rem;
  font-weight: bold;
}



.social-icons {
  display: flex;
  justify-content: space-around;
  margin-top: 0.625rem;
}

.icon-group {
  display: flex;
  justify-content: space-around;
  margin: 0.625rem 0;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  font-size: 0.8rem; 
}

.price {
  font-weight: bold;
  color: black;
}

.booked-label {
  color: red;
  font-weight: bold;
}

button {
  background: none;
  border: none;
  padding: 0;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}

@media (max-width: 48rem) { 
  .room-title {
    font-size: 1.2rem; 
  }

  .room-card {
    margin: 0.625rem 0;
  }

  .room-name {
    font-size: 1rem; 
  }

  .favorite-icon, 
  .share-icon {
    margin-left: 0.3125rem; 
  }

  .social-icons {
    flex-direction: column;
    align-items: center;
  }

  .icon-group {
    flex-direction: column;
  }
}

@media (max-width: 30rem) { 
  .room-title {
    font-size: 1rem; 
  }

  .heading {
    flex-direction: column;
    align-items: flex-start;
  }

  .price {
    font-size: 0.9rem;
  }

  .description {
    font-size: 0.8rem; 
  }
}
